NODE_ENV=local
# Database Configuration
# This project uses PostgreSQL as the primary database system.
# PostgreSQL is a powerful, open-source object-relational database system with over 30 years of
# active development that has earned it a strong reputation for reliability, feature robustness,
# and performance.
#
# We use a primary database for write operations and a read replica for read operations
# to optimize performance and distribute database load.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
READ_REPLICA_URL=postgresql://postgres:postgres@localhost:5433/postgres

# Open API Configuration
OPEN_API_PREFIX=/api-docs

# Server Configuration
PREFIX=/api
PORT=3000

